* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-image: url(Nyb\ Background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile {
    padding-top: 6%;
}

.profile img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

h1 {
    text-align: center;
    color: #424952;
}

h2 {
    text-align: center;
    padding-bottom: 2%;
    font-size: 12pt;
    color: #424952;
}

.codelinks .link a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FEFBEA;
    margin-top: 4%;
    text-align: center;
    width: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;  
    text-decoration: none;
    font-size: 20pt;
    color: #424952;
}

.logos {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    color: white;
}

.logos img {
    height: 100px;
    width: 100px;
}

.logos a {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
}