* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-image: url(Background\ Image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.profile {
    padding-top: 6%;
}

.profile img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    padding-bottom: 2%;
}

.codelink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    margin-top: 4%;
    text-align: center;
    width: 80%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 10px;
}

.codelink p {
    font-size: 20pt;
}